:root{
  --color1: lightslategray;
  --color2: rgb(101, 115, 129);
  --color3:dimgray;
}
body{
  background-color: var(--color1);
  margin: 0;
  font-family: 'Montserrat';
  color: white;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}
.navbar {
  background-color: var(--color2);
  padding: 30px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 10px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li.nav-right {
  margin-left: auto;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
}

.nav-links a:hover {
  background-color: var(--color1);
}
.container-form{
  width: 300px;
  margin: 0 auto;
  padding-top: 150px;
}
.login-form {
  background-color: var(--color2);
  padding: 20px;
  border-radius: 5px;
}
.signup-form {
  background-color: var(--color2);
  padding: 20px;
  border-radius: 5px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  border: none;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  background-color: var(--color1);
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: var(--color2);
}

.wrapper {
  padding: 20px;
  padding-bottom: 0;
}
  
.container-stocks-display{
  background-color: var(--color2);
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 25% 75%;
  border-radius: 20px;
  overflow: hidden;
  color: white;
}
.cost-stock{
  margin-top: 0;
  margin-bottom: 20;
}
.stock-list {
  list-style-type: none;
  padding: 0;
}
.stock-list li {
  cursor: pointer;
  text-align: left;
  background-color: var(--color1);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  padding-left: 10px;
}
.stock-list li::selection {
  background-color: white;
}
.stock-graph {
  width: auto;
  height: auto;
}
  
.stock-graph h2 {
    text-align: center;
}