{%include "guest/GuestNav.html"%}

<div class="wrapper">
    <h1>Popular Stocks</h1>
    <div class="container-stocks-display">
        <div class="left-side">
            <ul class="stock-list">
                <li>VOO</li>
                <li>APPL</li>
                <li>GOOGL</li>
                <li>TSLA</li>
                <li>AMZN</li>
            </ul>
        </div>
        <div class = "right-side">
            <h2>Stock Graph</h2>
            <div class="stock-graph">
                <!-- Placeholder for the stock graph image or chart -->
            </div>
        </div>
    </div>
</div>


</body>
</html>