{%load static%}
<html lang="en">
<head>
  <link rel = "stylesheet" type="text/css" href="{%static 'css/style.css'%}" href='https://fonts.googleapis.com/css?family=Montserrat'>
  <title>Trading</title>
</head>
<body>
  <nav class="navbar">
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li class="nav-right"><a href="/login">Login</a></li>
      <li class="nav-right"><a href="/signup">Sign Up</a></li>
      <li class="nav-right"><a href="#">About</a></li>
    </ul>
  </nav>

