{%include "guest/GuestNav.html"%}
<body>
    <div class="container-form">
      <form class="signup-form">
        <h2>Sign Up</h2>
        <input type="text" placeholder="Username">
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <input type="password" placeholder="Confirm Password">
        <button type="submit">Sign Up</button>
        <button type="submit">Have Account? Log in</button>
      </form>
    </div>
  </body>
  </html>